/* Import BootStrap Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Import Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

html, body {
    padding: 0;
    height: 100%;
    overflow: scroll;
}

header {
    font-family: 'Poppins', sans-serif;
}

.sticky-nav{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
    background: linear-gradient(0.25turn, red, yellow, green);
}

.site-logo {
    width: auto;
    height: auto;
}

.site-logo img {
    height: auto;
    width: 5rem;
    padding-left: 8px;
    padding-right: 8px;
}

.nav-links {
    width: 75%;
}

.nav-links li {
    display: inline;
    list-style: none;
    padding-left: 8px;
    font-size: 16px;
}

/* unvisited link */
.nav-links a:link, a:visited {
    text-decoration: none;
}

/* visited link */
.nav-links a:visited {
    text-decoration: none;
    color: white;
}

/* mouse over link, selected link */
.nav-links a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: rgb(86, 178, 236);
}

/* footer copyright */
.cp-right {
    text-align: center;
}