/* Import BootStrap Icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/* Import Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

body {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.sticky-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky-nav img {
    height: auto;
    width: 90px;
    padding: 5px;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 4px;
}

.nav-links li {
    padding-left: 8px;
    font-size: 16px;
}

/* unvisited link */
.nav-links a:link, a:visited {
    text-decoration: none;
}

/* visited link */
.nav-links a:visited {
    text-decoration: none;
    color: rgb(153, 93, 208);
}

/* mouse over link, selected link */
.nav-links a:hover, a:active {
    text-decoration: none;
    cursor: pointer;
    color: rgb(86, 178, 236);
}